@charset "utf-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* RESET ENDS */

:root {
  --black: #000;
  --off-black: #222;
  --grey: #444;
  --white: #eee;
  --red: #f00;
  font-size: 16px;
}
body {
  background-color: var(--off-black);
  color: var(--white);
  font-family: Barlow, sans-serif;
  text-align: center;
  line-height: 1.25;
}
a:where(:link, :visited) {
  color: inherit;
}
a:where(:hover, :focus-visible, :active) {
  color: cyan;
}
header {
  margin-block: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.card {
  position: relative;
  display: block;
  background-color: var(--grey);
  box-shadow: 0 0 var(--black);
  transition: translate 0.4s, box-shadow 0.4s;
}
.card:has(a:is(:hover, :focus-visible)) {
  translate: -0.25rem -0.5rem;
  box-shadow: 0.5rem 1rem var(--black);
}
.card a {
  display: grid;
  grid-template-columns: 8rem 1fr;
  place-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
}
.card .wip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}
.card h2 {
  font-size: 1.25rem;
}
.card li {
  display: inline-block;
  margin: 0 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px var(--black);
}
.card li.html { color: #6abecd; }
.card li.css { color: #849aeb; }
.card li.js { color: #cf6390; }
.card li.api { color: #aad742; }
.card .diff {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px var(--black);
}
.card .diff::before {
  display: inline-block;
  margin-right: 0.25ch;
  width: 1.25em;
  height: 1.25em;
  border-radius: 25%;
  color: var(--grey);
  text-shadow: none;
}
.card .diff.diff-1 { color: #6abecd; }
.card .diff.diff-1::before { content: "1"; background-color: #6abecd; }
.card .diff.diff-2 { color: #aad742; }
.card .diff.diff-2::before { content: "2"; background-color: #aad742; }
.card .diff.diff-3 { color: #f1b604; }
.card .diff.diff-3::before { content: "3"; background-color: #f1b604; }
.card .diff.diff-4 { color: #f48925; }
.card .diff.diff-4::before { content: "4"; background-color: #f48925; }
.card .diff.diff-5 { color: #ed2c49; }
.card .diff.diff-5::before { content: "5"; background-color: #ed2c49; }
.card p {
  grid-column: 1 / -1;
  text-align: left;
  margin-block: 0.25rem 0.5rem;
}
@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 15rem);
  }
  .card a {
    grid-template-columns: auto;
    gap: 0;
    height: 100%;
  }
  .card h2 {
    margin-block: 0.5rem 0.25rem;
  }
}